@font-face {
  font-family: 'souvenir';
  src: url('/fonts/3AF2C8_0_0.eot');
  src: 
      url('/fonts/3AF2C8_0_0.eot?#iefix') format('embedded-opentype'),
      url('/fonts/3AF2C8_0_0.woff2') format('woff2'),
      url('/fonts/3AF2C8_0_0.woff') format('woff');
    }

    @font-face {font-family: 'souvenir-mono';src: url('/fonts/3AF2CB_0_0.eot');src: url('/fonts/3AF2CB_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/3AF2CB_0_0.woff2') format('woff2'),url('/fonts/3AF2CB_0_0.woff') format('woff');}

 

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content p > a {
  color: #fff;
  text-decoration: underline;
}

.content p > a:hover {
  text-decoration: none
}

.credit a {
  color: #fff;
  text-decoration: underline;
}

.credit a:hover {
  color: #fff;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainContent {
  margin-top: 2rem;
}
